.card-container {
	max-width: 25rem;
	max-height: 40rem;
	margin: 3rem auto 1rem auto;
	border: 1px solid #2323;
	border-radius: 5px;
	background: rgba(241, 241, 241, 0.897);
}

.card-container:hover {
	box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}