.description-block {

	.description-bio{
		padding: 0;
		margin: auto;
		padding-bottom: 2rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		list-style-position: inside;
		list-style-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0b/Font_Awesome_5_solid_space-shuttle.svg');
		width: 10rem;
  }

	.description-name {
		text-align: center;
	}
}